{% extends 'base.html' %}

{% block title %}{{ "ComeerceMed" }}{% endblock %}

{% block content %}
{% load static %}


{% if profile %}
    <div class="container main-secction px-5">
        <div class="row px-5" >
            <div class="row user-left-part">
                <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left ">
                  <div class="row-sm-auto">
                        <div class="img thumbnail" width="100" height="100">
                            {% if profile.photo.url %}
                                <img src="{{ profile.photo.url }}" class="portrait rounded-circle " width="100" height="100">
                            {% else %}
                                <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" class="fillwidth">
                            {% endif %}
                          </div>
                    </div>
                      
                </div>
                <div class="col-md-1 col-sm-1 col-xs-1 pull-left"></div>
                <div class="col-md-7 col-sm-4 col-xs-12 pull-left profile-right-section">
                    <div class="row profile-right-section-row">
                        <div class="col-md-12">
                            <div class="row">
                                <h1>{{ profile.username }}</h1>
                            </div>
                            <div class="row">
                                <h5>{{ profile.description }}</h5>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                        <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                  <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i class="fas fa-user-circle"></i>Information</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" href="#buzz" role="tab" data-toggle="tab"><i class="fas fa-info-circle"></i>Location</a>
                                                </li>
                                              </ul>

                                              <!-- Tab panes -->
                                              <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                                        <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>TIN</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{ profile.tin }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Email</label>
                                                                </div>
                                                                <div class="col-md-6">

                                                                    <p>{{ profile.email }}</p>

                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Contact</label>
                                                                </div>
                                                                <div class="col-md-6">

                                                                    <p>{{ profile.phone }}</p>

                                                                </div>
                                                            </div>

                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="buzz">
                                                                 <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Country</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{ profile.country }}</p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Fiscal Address</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>{{ profile.fiscal_address }}</p>
                                                                </div>
                                                            </div>
                                                </div>

                                              </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
          {% for product in products %}

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{ product.photo.url }}" alt="Card image cap">
            <div class="card-body">
            <p class="card-text">{{ product.name }}</p>
              <p class="card-text">{{ product.description }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/product/search/?q={{product.tag}}"><button type="button" class="btn btn-sm btn-outline-secondary">{{ product.tag.name }}</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
          {% endfor %}
           <!--
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>

        </div>-->
      </div>
    </div>
  </div>
{% else %}

  <p> There is no user. </p>
{% endif %}
{% endblock %}
