{% extends 'base.html' %}

{% block title %}{{ "ComeerceMed" }}{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col-xs-12" align="center">
        <div class="col-xs-12">
            <img src="{% static 'img/logo.png' %}" alt="ComercialMed Logo" style="width:10%;">
        </div>
        <div class="col-xs-12" style="padding-bottom: 10px;">
            <label for="" style="font-size: 20px;">Commercial<b>MED</b></label>
        </div>
        <form class=" col-xs-12" action="{% url 'nearbytag' %}"
        method="get">
            <input name="q" class="form-control col-xs-12" type="text" placeholder="Search"
            aria-label="Search">
        </form>
    </div>
    <div class="col-xs-12">
        {% for product in products %}
            <div class="col-xs-4">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">{{ product.description }}</p>
                      <a href="#" class="btn btn-primary">Know more</a>
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}