{% extends 'base.html' %}

{% block title %}{{ "ComeerceMed" }}{% endblock %}

{% block content %}
<div class="container">
    <div class="col-xs-12">
        <form class="form-inline mt-2 mt-md-0" action="{% url 'nearbytag' %}"
        method="get">
            <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search"
            aria-label="Search">
        </form>
    </div>
    <div class="col-xs-12">
        {% for product in products %}
            <div class="col-xs-4">
                <div class="card">
                    <img class="card-img-top" src="" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">{{ product.description }}</p>
                      <a href="#" class="btn btn-primary">Know more</a>
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}